ul.basic_navigation
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;


}
li.basic_navigation
{
	float:left;

}
a.basic_navigation:link , a.basic_navigation:visited
{
	display:block;
	width:220px;
	font-weight:bold;
	color: black;
	background-color:#009999;
	text-align:center;
	padding:89px;
	padding-right:75px;
	text-decoration:none;
	text-transform: uppercase;
}
a.basic_navigation:hover, a.basic_navigation:active
{
background-color:#426F6F;
}
a.basic_navigation_currentLocation:link , a.basic_navigation_currentLocation:visited
{
	display:block;
	width:220px;
	font-weight:bold;
	color: black;
	background-color:#668585;
	text-align:center;
	padding:89px;
	padding-right:75px;
	text-decoration:none;
	text-transform: uppercase;
}

a.basic_navigation_currentLocation:hover , a.basic_navigation_currentLocation:active
{
background-color:#426F6F;
}

a.a1:link
{
display: block;
font-weight: bold;
color:white;
background-color:blue;
width:100px;
text-align:center;
padding:2px;
text-transform:uppercase;


}


