body
{
    background-image:url("../Images/darkwood.jpg");

}
img
{
max-width:100%;
}
.main
{
    height:100%;
    width:100%;
    
}

.header
{
    width:100%;
    height:10%;
   
    
}

.footer
{
  float:left;  

}

.button
{
    text-align: center;
    background-color:#766A6A;
    width:24%;
    padding-top:0.5%;
    padding-bottom:0.5%; 
    margin: 0 .5%;
    float:left;

}

.texting
{
    
    background-color:white;
    
}

.article
{
    float:left;
    width:100%;
    border: 2px solid grey;
    background-color:white;
    margin:0.5%;
}


.a1:link , .a1:visited
{
    float:left;
    display:block;
    background-color:#766A6A;
    font-weight:bold;
    color:black;
    text-transform:uppercase;
    text-decoration:none;
    width:24%;
    padding-top:0.5%;
    padding-bottom:0.5%; 
    margin:0 .5%;
    text-align: center;

}

@media screen and (max-width:600px)
{
    .a1:link , .a1:visited
{
    
    display:block;
    background-color:#766A6A;
    font-weight:bold;
    color:black;
    text-transform:uppercase;
    text-decoration:none;
    width:49%;
    padding-top:5%;
    padding-bottom:5%; 
    margin:.5% .5%;
    text-align: center;

}
}




