body
{
text-align:center;
background-image:url('../images/index.jpg');

}

div.Aboutme
{
width:398px;
height:450px;
border:2px solid grey;
border-radius:5px;

}
div.about_header
{
width:1000px;
height:71px;	
border:2px solid grey;
border-radius:5px;
background-color:white;

	
	
}
div.about_main
{
width:1000px;
height:auto;
border:3px solid grey;
border-radius:5px;
margin:auto;
	
}
div.profil_image
{
float:left;
}

div.header
{
width:auto;
height:25px;
background-color:yellow;



}
div.index-bar
{

width:800px;
height:750px;
border:2px solid grey;
border-radius:5px;
margin:auto;

}
div.index-header
{
width:250px;
height:100px;
margin:auto;

}
div.top
{
width:800px;
height:300px;
background-image:url('../images/android02.jpg');

}
div.left
{
width:400px;
height:450px;
float:right;



}
div.right
{
width:400px;
height:450px;
float:left;


}
div.Projects
{
width:398px;
height:450px;
border:2px solid grey;
border-radius:5px;

}
div.Project01
{
width:394px;
height:auto;
background-color:white;
margin-top:15px;
border:2px solid grey;
border-radius:5px;
}
div.Project02
{
width:394px;
height:auto;
background-color:white;
margin-top:15px;
border:2px solid grey;
border-radius:5px;
}
div.project_news
{
	
	
	
	
}

div.main
{
text-align:center;


}
a.a1:link
{
display: block;
font-weight: bold;
color:white;
background-color:blue;
width:100px;
text-align:center;
padding:2px;
text-transform:uppercase;


}
