#header
{
width:auro;
height:25px;
background-color:yellow;



}



div.main
{
background-color:blue;



}
a.header:link
{
display: block;
font-weight: bold;
color:white;
background-color:blue;
width:100px;
text-align:center;
padding:2px;
text-decoration:uppercase;


}